.background-container {
  width:100%;
  height:100vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.main-container {
  display: flex;
  width: 80%;
  height:100vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(to left, #8942a8, #ba382f)
}

h1 {
  font-size: 70px;
  font-family: 'Tangerine', serif;
  color: white;
  margin: 80px;
  justify-content: center;
  text-shadow: 4px 4px 4px #aaa;
}

.parent-container {
  display: flex;
  width: 100%;
  min-height: 170px;
  justify-content: space-evenly;
  flex-direction: row;
}

.swatches {
  width: 15%;
  height: 120px;
}

.color-box {
  height: 100px;
  width: 100px;
  border: 2px solid black;
}

.button-container {
  display:flex;
  justify-content:space-around;
  width:50%;
  padding: 50px;
  height: 30px;
}

button {
  background-color: blueviolet;
  color: white;
  border: 2px solid black;
  border-radius: 10%;
  line-height: 1.5;
  width: 30%;
  font-size: medium;
}

img {
  display: flex;
  align-content: space-around;
  line-height: 1.5;
  font-size: 25px;
  text-align: center;
  border: 2px solid #000000;
  width:20%;
}

aside > .main-container {
  margin: 10px
}

h2 {
  font-size: 60px;
  color: white;
  margin: 54 0px;
  justify-content: center;
  font-family: 'Tangerine', serif;
  text-shadow: 4px 4px 4px #aaa;
}

p {
  font-size: 20px;
  font-weight: bold;
}

.side-bar-container {
  border-left: 10px solid #000000;
  width: 30%;
  height:100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to bottom, #8942a8, #ba382f)
}

.palette-details {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.mini-palette {
  width: 15%;
  height: 30px;
  border: 2px solid black;
  border-radius: 10%;
}

.trash-can {
  width: 15%;
  height: 30px;
}

.saved-palettes {
  width: 100%;
  height: 100vh;
}

.palette-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 85%;
}

.trash-can {
  width:10%;
  height:30px;
}
